@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */
}
img{
    width: 100%;
}
body{
    font-size: 1.125em;
}
.container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;  
    border: 1px solid black;
}
.aside{
    width: 20%; 
    padding: 0.5em;
    border: 1px solid brown;
}
.aside h2{
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 1.5rem; 
    margin: 1.4em 0 4em 0;   
    font-family: 'Montserrat', sans-serif;
}
.navigation li{
    list-style: none;
    padding: 0.5rem 0; 
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.navigation li a{
    text-decoration: none;
    color: #757575;
    font-weight: 550;
}
.navigation li a.active{
    color: #000000;
    
}
.dropdown li{
    font-size: 1rem;
    margin: 0.5em 2em;
}
.dropdown li a{
    padding: 0.6em 3em 0.6em 1em;
    font-weight: 500;
}
.dropdown li a.active{
    background: #F1F1F1;
    
}
.extra{
    margin: 5em 0.5em;
}
.extra ul li{
    list-style: none;
    padding: 0.5em 0;
    
}
.extra ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
}
.main{
    width: 80%;
    border: 1px solid green;
    padding: 2%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}
.header .title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}