@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */
}
img{
    width: 100%;
}
body{
    font-size: 1.125em;
}
.container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;  
}
.aside{
    width: 23%; 
    padding: 0.5em;
    display: block;
    
}
.aside h3{
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 1.5rem; 
    margin: 1.4em 0 4em 0;   
    font-family: 'Montserrat', sans-serif;
}
.navigation li{
    list-style: none;
    padding: 0.5rem 0; 
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.navigation li a{
    text-decoration: none;
    color: #757575;
    font-weight: 550;
}
.navigation li a.open{
    color: #000000;
    
}
.dropdown li{
    font-size: 1rem;
    margin: 0.5em 2em;
}
.dropdown li a{
    padding: 0.6em 3em 0.6em 1em;
    font-weight: 500;
}
.dropdown li a.open{
    background: #F1F1F1;
    
}
.extra{
    margin: 5em 0.5em;
}
.extra ul li{
    list-style: none;
    padding: 0.5em 0;
    
}
.extra ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
}
.nav{
    background: #fff;
    color: #000;
}
.nav h3{
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 1.8rem; 
    margin: 1.2em;   
    font-family: 'Montserrat', sans-serif;
}
.nav li{
    list-style: none;
    padding: 0.5rem; 
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.nav li a{
    text-decoration: none;
    color: #757575;
    font-weight: 550;
}
.nav li a.open{
    color: #000000;
    
}
.nav .dropdown li{
    font-size: 1rem;
    margin: 0.5em 2em;
}
.nav .dropdown li a{
    padding: 0.6em 3em 0.6em 1em;
    font-weight: 500;
}
.nav .dropdown li a.open{
    background: #F1F1F1;
    
}
.nav .extra{
    margin: 5em 0.5em;
}
.nav .extra li{
    list-style: none;
    padding: 0.5em 0;
    
}
.nav .extra li a{
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
}
/* *************main************ */
.main{
    width: 77%;
   
    
   
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    transition: 1s;  
    display: none;
}
.mainhead{
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    padding: 1em;
    font-size: 1.5rem;
    
}
.mainhead h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;

}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
}
.header .title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.header .icons i{
    padding-left: 0.5em;
}
.featured-img{
    position: relative;
    top: 0;
}
.featured-img .featured-title{
    position: absolute;
    top: 10%;
    left: 5%;
}
.featured-title h1{
    color: #fff;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.featured-title p{
    padding: 0.8em 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 2.3rem;

}
.featured-title a{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 0.8em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.featured-title a:hover{
    color: #000;
    background: #F1F1F1;
}

/* *************product**************** */
.product-card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    
}
.product-page p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 0.5em 0;
}
.card{
    width: 23%; 
   
   opacity: 0.8;
   
}
.card-info {
    padding: 0.5em 0;
    font-size: 0.85rem;
    
}

.card-img{
    position: relative;
}
.card-img span{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #fff;
    font-size: 0.8em;
    padding: 0.2em;
}
/* ********subscribe******* */
.subscribe{
    background: #000;
    color: #fff;
    padding: 2em 1em;
}
.subscribe-title h2{
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em 0;
    font-weight: 400;
    font-size: 2rem;
}
.input-email p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    padding-bottom: 1em;
}
.input-email input{
    padding: 0.7em;
    display: block;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
}
.input-email button{
    border: 0;
    background: #F44336;
    color: #fff;
    font-size: 1rem;
    padding: 0.8em;
}
.input-email button:hover{
    background: #cccccc;
    color: #000;
}
.sum-up{
    display: flex;
    justify-content: space-between;
     padding: 2em;
     background: #F1F1F1;
}
.contact{
    width: 35%;
}
.contact .title{
    font-family: 'Montserrat', sans-serif;
    
}
.contact .title h3{
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    text-transform: capitalize;
    padding: 0.2em;
}
.contact .title p{
    font-size: 0.9rem;
    text-align: center;
    padding: 0.8em 0;
}
.contact-details input{
    width: 100%;
    padding: 0.5em;
    margin: 0.2em 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.contact-details button{
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    font-size: 0.7em;
    font-weight: 400;
    padding: 0.65em;
}
.contact-details button:hover{
    background: #cccccc;
    color: #000;
}
.about .title h3{
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: capitalize;
    padding: 0.2em;
    font-family: 'Montserrat', sans-serif;
}
.about .about-details ul li{
    list-style: none;
    padding: 0.1em;
}
.about .about-details ul li a{
    color: #000;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    
}
.store .title h3{
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: capitalize;
    padding: 0.2em 0;
    font-family: 'Montserrat', sans-serif;
}
.store-details{
    padding: 0.8em 0;
}
.store-details p{
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: capitalize;
    padding: 0.4em 0;
    font-family: 'Montserrat', sans-serif;
}
.footer{
    background: #000;
    color: #fff;
    padding: 1.5em;
    text-align: center;
}
.footer p{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}
.footer p a{
    color: #fff;
}
@media  screen and (max-width: 998px) {
    .main{
        width: 100%;
    }
    .top{
       display: block;
    }
    .header{
        padding: 1em;
    }
    .feature{
        padding: 0 1em;
    }
    .aside{
        display: none;
    }
    .product-page{
        padding: 1em;
    }
   
    .card{
        width: 48%;
        
        
    }
    .nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 28%;
        height: 100vh;
        z-index: 4;
        transition: 0.5s; 
       
    }
    .nav.active{
        left: 0%;
        
    }
}